body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: peachpuff;
  margin: 0 auto;
}

h2 {
  font-size: 50px;
}

input {
  font-family: "Poppins";
  border: 2px solid black;
}

input[type="text"] {
  padding: 20px;
  font-size: 28px;
  width: 40%;
}

input[type="submit"] {
  border-radius: 3px;
  padding: 20px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: rgb(247, 102, 102);
  cursor: pointer;
  margin: -6px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px;
}
